<html>
    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="index.css" />

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="lib/jquery-1.8.2.min.js"></script>
        <script src="lib/underscore-min.js"></script>
        <script src="lib/backbone-min.js"></script>
        <script src="lib/backbone.localStorage.js"></script>

        <!-- TEMPLATES -->

        <script type="text/html" id="guess-item-template">
            <div class="tile">
                <div class="tile-content">
                    <h4> <%= title %> </h4>
                    <span class="estimate">
                        <%= estimate %>
                    </span>
                    <p>
                        &nbsp; <%= notes %>
                    </p>
                </div>

                <div class="progress progress-warning">
                    <div class="bar" style="width: <%= percent %>%"></div>
                </div>

                <ul class="unstyled">
                    <li class="guess-start"> 
                        <% if (!finish) { %> 
                            <%= start ? 'PAUSE' : 'START' %>
                        <% } %>
                    </li>
                    <li class="guess-edit"> EDIT </li>
                    <li class="guess-delete"> DELETE </li>
                    <li class="guess-stop"> <%= finish || !start ? '': 'FINISH' %> </li>
                </ul>
            </div>
        </script>
        
        <!-- BACKBONE STUFF -->
        <script> 

        var App = {
            Models: {},
            Views: {},
            Collections: {},
            Routers: {}
        }

        // MODELS
        App.Models.Guess = Backbone.Model.extend({

            defaults: {
                title:'',
                start:false,
                finish:false,
                estimate:'',
                notes:'',
                percent:''
            },

            initialize: function() {
                this.on('update:percent', this.calcPercent, this);
                this.on('remove', function() {
                    this.destroy();
                }, this);
            },

            startTime: function() {
                var d = new Date();
                this.save({
                    start: d.getTime()
                });
            },

            finishTime: function() {
                var d = new Date();
                this.save({
                    finish: d.getTime()
                });
            },

            pause: function() {
                var d = new Date();
            },

            resume: function() {
                var d = new Date();
            },

            calcPercent: function() {
                var s = this.get('start');
                var est = this.get('estimate');
                est = est * 86400000;
                var d = new Date();

                this.save({
                    percent:((d.getTime() - s) / est) * 100
                });
            },

            totalDays: function() {
                var s = this.get('start');
                var f = this.get('finish');
                if (f) {
                    var t = (f - s) / 864000000;
                    return t;
                } else {
                    return 0;
                }
                 
            }
        });

        // VIEWS

        App.Views.GuessAddView = Backbone.View.extend({
            el : '#guess-add-view',

            events: {
                'click #guess-add':'addGuess'
            },

            initialize: function() {
                this.title = this.$('#guess-title');
                this.estimate = this.$('#guess-guess');
                this.notes = this.$('#guess-notes');
            },

            addGuess: function() {
                App.GuessList.create({
                    'title':this.title.val(),
                    'estimate':this.estimate.val(),
                    'notes':this.notes.val()
                });

                this.clearInputs();
            },

            clearInputs: function() {
                this.title.val('');
                this.estimate.val('');
                this.notes.val('');
            }
        });

        App.Views.GuessListView = Backbone.View.extend({
            el: '#guess-list',

            initialize: function() {
                App.GuessList.on('add', this.addOne, this);
                App.GuessList.on('reset', this.addAll, this);

                App.GuessList.fetch();
            },

            addOne: function(guess) {
                var view = new App.Views.GuessListItemView({ model : guess });
                $(this.el).append(view.render().el);
            },

            addAll: function() {
                App.GuessList.each(this.addOne, this);
            }
        });


        App.Views.GuessListItemView = Backbone.View.extend({

            className: 'tile',

            tagName: 'li',

            template:_.template($('#guess-item-template').html()),

            events: {
                'click .guess-start':'startTime',
                'click .guess-stop':'stopTime',
                'click .guess-delete':'deleteGuess'
            },

            initialize: function() {
            },

            render: function() {
                this.model.trigger('update:percent');
                $(this.el).html(this.template(this.model.toJSON()));
                return this
            },

            startTime: function() {
                if (this.model.get('start')) {
                   this.model.pause(); 
                } else {
                    this.model.startTime();
                }
                this.render();
            },

            stopTime: function() {
                this.model.finishTime();
                this.render();
            },

            deleteGuess: function() {
                this.remove();
                App.GuessList.remove(this.model);
                console.log(App.GuessList);
            }
        });

        App.Views.GuessChartView = Backbone.View.extend({
            
            el:'#thechart',

            initialize: function() {

                this.collection.on('change', this.render, this);
                this.collection.on('remove', this.render, this);

                this.render();
            },

            render: function() {

                var data = [['Title', 'Estimate', 'Actual']];
                _.each(this.collection.models, function(m) {
                    data.push([m.get('title'), parseInt(m.get('estimate')), m.totalDays()]); 
                });

                if (data.length > 1) {
                    data = google.visualization.arrayToDataTable(data);

                    var options = {
                        title: 'Your off the Cuff Performance',
                        hAxis: {title: 'Estimates', titleTextStyle: {color: 'red'}},
                        backgroundColor: { fill:'transparent' }
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('thechart'));
                    chart.draw(data, options);
                } else {
                    $('#thechart').html('');
                }
            }
        });

        // COLLECTIONS
        App.Collections.GuessCollection = Backbone.Collection.extend({

            model:App.Models.Guess,

            localStorage: new Store('guesses')
        });

        App.Routers.Workspace = Backbone.Router.extend({

            routes: {
                "":"build",
            },

            build: function() {
            }
        });

        $(function() {

            
                new App.Routers.Workspace();
                
                App.GuessList = new App.Collections.GuessCollection();
                App.addView = new App.Views.GuessAddView();
                App.GuessListView = new App.Views.GuessListView();

                Backbone.history.start();
            
                function addChart() {
                    App.GuessChartView = new App.Views.GuessChartView({collection:App.GuessList});
                }
                google.load("visualization", "1", {packages:["corechart"], callback:addChart});

        });

        </script>
    </head>
    <body>
        <div class="span5 theleft">
            <ul id="guess-list" class="unstyled">
            </ul>
        </div>
        <div id="app-view">
            <div id="guess-add-view">
                <h4> Title </h4>
                <input type="text" id="guess-title" />
               
                <h4> Estimate (Days)</h4>
                <input type="text" id="guess-guess" class="input-small"/>

                <h4> Notes </h4>
                <textarea id="guess-notes" rows="3"></textarea>

                <br />

                <input type="button" class="btn btn-primary" value="Add" id="guess-add">
            </div>
                    
            <div id="thechart">
            </div>

        </div>
    </body>
</html>
